#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  padding-top: 100px;
}

.body {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: repeat(2, 50%);
  grid-template-areas:
    "c1 c2 c3 c4 c5"
    "c6 c7 c8 c9 c10";
  column-gap: 10px;
  row-gap: 15px;
}
